.course-box {
    width: 420px;
    height: 345px; 
    margin-bottom: 30px;
}

.course-box .course-title h3 {
    font-size: 20px;
    margin-left: 15px;
    text-decoration: underline;
}

.course-box .course-thumbnail{
    width: 420px;
    height: 345px; 
}

.course-box .course-info p{
  font-size: 20px
}

.course-box .course-info {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 40px;
}