.course-box .course-title h3 {
    font-size: 20px;
    margin-left: 15px;
    text-decoration: underline;
}

.course-box .course-thumbnail{
    width: 500px;
    height: 300px; 
}

.course-box .course-info p{
  font-size: 20px
}

.course-box .course-info {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 40px;
}